<!DOCTYPE html>
<html>

<head>
    <title>Entered addresses</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        #map {
            height: 800px;
            /* Adjust height as needed */
            width: 800px;
        }
    </style>
</head>

<body>
    <h1>Entered addresses</h1>
    <ul>
        {% for entry in entries %}
        <li>
            Original Text: {{ entry.text }}
            <form action="{% url 'delete_text_entry' entry.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <a href="/"> Add another address</a>



    <!-- Map container -->
    <div id="map"></div>

    <!-- Button to trigger processing -->
    <form action="{% url 'text_entry_success' %}" method="post">
        {% csrf_token %}
        <button type="submit" name="process_text">Find route</button>
    </form>

    <!-- Leaflet map initialization script -->
    <script>
        // Initialize the map and set its view to your chosen geographical coordinates and a zoom level
        var geojson = document.getElementById("geojson");
        var map = L.map('map').setView([52.25, 21.01], 11);

        // Load and display tile layers on the map
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);


    </script>
    {% if geojson %}
    <div id="geojson-data" data-geojson='{{ geojson }}'></div>
    <script>
        var geojsonElement = document.getElementById('geojson-data');
        var geo = geojsonElement.getAttribute('data-geojson');
        var geojson = JSON.parse(geo.replace(/"/g, '').replace(/'/g, '"'));
        
        var coordinates = [];
        for (var i = 0; i < geojson['features'].length; i++) {
            coordinates.push(geojson['features'][i]['geometry']['coordinates']);
        }
        console.log(coordinates);
        
        var line = {
            "type": "LineString",
            "coordinates": coordinates
        };
        var jsonLayer = L.geoJSON(line).addTo(map);
        map.fitBounds(jsonLayer.getBounds());
    </script>
    {% endif %}
</body>

</html>